<% provide(:title, "ホーム") %>

<div class="container">
  <div class="row">
    <h1>バズらせないのが特徴です</h1>
    <p>Contrailであなたのお気に入りのお店をこっそり共有しませんか</p>
  </div>
</div>

<div class="row">
  <!--新着の投稿を表示予定-->
</div>


