<% provide(:title, "ホーム") %>

<div class="search-form pb-4 pt-0">
  <form>
    <input class="search-form pl-4 w-100" type="search" placeholder="&#xf002;" aria-label="検索">
  </form>
</div>

<div class="container home-info shadow-sm p-4 bg-light rounded">
  <div class="mt-4 text-center">
    <h1 class="head">おすすめしたいけどバズらせたくない</h1>
      <p class="sub">口コミでは評価が低いけど気に入っている、知名度が低いお店...など</p>
      <p class="sub">あなたの好きをこっそり共有しませんか？</p>
      <%= link_to "簡単ログイン", users_guest_sign_in_path, method: :post, class: "btn btn-login btn-lg btn-outline-dark px-4", role: "button" %>
  </div>
</div>


