<% provide(:title, "ホーム") %>

<div class="search-form pb-4 pt-0">
  <form class="form-inline mx-auto w-75">
    <input class="form-control search-form mr-sm-2" type="search" placeholder="&#xf002;検索" aria-label="検索">
  </form>
</div>

<div class="container home-info shadow-sm p-4 bg-light rounded">
  <div class="mt-4 text-center">
    <h1 class="head">おすすめしたいけどバズらせたくない</h1>
      <p class="sub">口コミでは評価が低いけど気に入っている、知名度が低いお店...など</p>
      <p class="sub">あなたの好きをこっそり共有しませんか？</p>
      <%= link_to "簡単ログイン", '#', class: "btn btn-login btn-lg btn-outline-dark px-4", role: "button" %>
  </div>
</div>


