<% provide(:title, "ホーム") %>

<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">美味しいものをこっそり共有しましょう</h1>
      <p class="lead text-center">Contrailは友達に好きなお店を教えるときのような特別感を大切にしています</p>
      <a class="btn btn-primary btn-lg home-btn" href="#" role="button">登録する</a>
  </div>
</div>

<div class="row">
  <!--新着の投稿を表示予定-->
</div>


