<div id="map"></div>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: { lat: 35.67, lng: 139.75 }
    });

    <% @microposts.each do |post| %>
      position = new google.maps.LatLng(<%= post.latitude %>,<%= post.longitude %>);

      var contentString = '<%= image_tag post.image.url, size: "200x200" %>';
      var infowindow = new google.maps.InfoWindow({
          content: contentString
      });

      var marker = new google.maps.Marker({
        map: map,
        position: latlng,
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    <% end %>
  };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:map,:google_api) %>&callback=initMap" async defer></script>
