  <% @users.each do |user| %>
    <li>
      <% if current_user.avatar? %>
        <%= image_tag current_user.avatar.url, size: "50x50", class: "rounded-circle", alt: "avatar image" %>
        <%= link_to user.name, user, class: "user-index text-dark font-weight-bold ml-2" %>
      <% else %>
        <%= image_tag 'no_avatar.png', size: "50x50", class: "rounded-circle", alt: "avatar image" %>
        <%= link_to user.name, user, class: "user-index post-name text-dark font-weight-bold ml-2" %>
      <% end %>
    </li>
  <% end %>
