<% provide(:title, 'フォロー中') %>

<%= render 'users/link' %>

<% if user_signed_in? %>
  <span class="follow-info font-weight-bold ml-4"><%= @user.name %></span>
<% end %>
<div>
  <% if @user.following.any? %>
    <h6 class="text-secondary text-center font-weight-bold mt-5">フォロー中</h6>
      <%= render partial: 'users/following_list', collection: @following, as: "user" %>
  <% else %>
    <%= render 'users/following_status' %>
  <% end %>
</div>