<% provide(:title, 'フォロワー') %>

<div class="d-flex flex-row ml-5 mt-5">
  <div class="mt-1"><%= render 'users/link' %></div>
  <div class="follow-info font-weight-bold ml-2"><%= @user.name %></div>
</div>

<div class="col-md-5 mx-auto">
  <% if @user.followers.any? %>
    <h5 class="text-dark text-center font-weight-bold mt-3">フォロワー</h5>
      <%= render partial: 'users/followers_list', collection: @followers, as: 'user' %>
  <% else %>
    <%= render 'users/followers_status' %>
  <% end %>
</div>
