<% provide(:title, 'すべてのユーザー') %>
<h5 class="text-center font-weight-bold">すべてのユーザー</h5>

<ul class="users-index">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>


