<% provide(:title, 'すべてのユーザー') %>
<h5 class="text-center font-weight-bold">すべてのユーザー</h5>

<ul class="users-index">
<%# TODO 以下をパーシャルにして検索結果でも使用できるようにする %>
  <% @users.each do |user| %>
    <li>
      <% unless user.avatar? %>
        <%= link_to image_tag("no_avatar.png", size: "60x60", class: "rounded-circle mr-3", alt: "avatar image"), user_path(user) %>
      <% end %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>


