<% provide(:title, 'ログインページ') %>

<body class="text-center">
  <form class="form-signin">
    <h1 class="h4 mb-5 font-weight-bold">メールアドレスでログイン</h1>

      <label for="inputEmail" class="sr-only">メールアドレス</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="メールアドレス" required autofocus>

      <label for="inputPassword" class="sr-only">パスワード</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="パスワード" required>
      <%= link_to "パスワードをお忘れですか?", "#", class: "forget-pass text-dark text-decoration-none" %>

      <button class="btn btn-outline-dark btn-block form-btn" type="submit">ログイン</button>
      <button class="btn btn-outline-dark btn-block form-btn" type="submit">簡単ログイン</button>
      <%= link_to "アカウントをお持ちでない方はこちら", new_user_registration_path ,class: "new-user text-secondary text-decoration-none" %>
  </form>

