<% if model.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li class="mt-2"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
