<% if model.errors.any? %>
  <div>
    <% model.errors.full_messages.each do |msg| %>
      <script type="text/javascript">
        M.toast({html: '<%= msg %>', classes: "red"})
      </script>
    <% end %>
  </div>
<% end %>
