<div class="users-following d-flex flex-row">
  <!-- フォロワーリスト: ユーザーネーム -->
  <div class="userName">
    <%= link_to user.name, user %>
  </div>
  <!-- フォロワーリスト: フォローボタン -->
  <div class="float-right list-btn">
    <%= render 'users/list_follow_btn.html.erb' %>
  </div>
</div>