<% if current_user.bookmarked_posts.any? %>
  <div class="row">
    <% current_user.bookmarked_posts.each do |micropost| %>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-2">
          <%= link_to image_tag(micropost.image.to_s, size: '400x400') %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="text-center font-weight-bold">
    まだブックマークがありません
  </div>
  <div class="text-muted text-center">
    投稿をブックマークするとここに表示されます
  </div>
<% end %>


