<div class="d-flex align-items-center">
  <% if object.user.avatar? %>
    <%= link_to image_tag(object.user.avatar.url, size: "55x55", class: "rounded-circle", alt: "avatar image"), object.user %>
  <% else %>
    <%= link_to image_tag('no_avatar.png', size: "55x55", class: "post-avatar rounded-circle", alt: "avatar image"), object.user %>
  <% end %>
  <div class="ml-2">
    <%= link_to object.user.name, object.user, class: "details-avatar text-secondary" %>
  </div>

  <% if user_signed_in? %>
    <div class="dropdown ml-5">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="box-shadow: none">
        <i class="fas fa-lg fa-angle-down angle-down"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to '削除', micropost_path(object), method: :delete, data: { confirm: '削除してよろしいですか?' }, class: "dropdown-item" %>
      </div>
    </div>
  <% end %>
</div>
