<div id="map"></div>

<script>
  function initMap() {
    var latlng = new google.maps.LatLng(<%= micropost.latitude %>,<%= micropost.longitude %>);
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: latlng
    });

    var contentString = '<%= image_tag micropost.image.url, size: "200x200" %>';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });

    var marker = new google.maps.Marker({
      map: map,
      position: latlng,
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:map,:google_api) %>&callback=initMap" async defer></script>

map:
  google_api
