<div id="map"></div>

<script>
  function initMap() {
    const latlng = new google.maps.LatLng(<%= object.latitude %>,<%= object.longitude %>);
    const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: latlng
    });

    const contentString = '<%= image_tag object.image.url, size: "200x200" %>';
    const infowindow = new google.maps.InfoWindow({
        content: contentString
    });

    const marker = new google.maps.Marker({
      map: map,
      position: latlng,
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:map,:google_api) %>&callback=initMap" async defer></script>
