<div class="container">
  <div class="card">
    <% if @micropost.image.url %>
      <%= image_tag @micropost.image.url, class: "card-img-top", alt: "投稿画像" %>
    <% end %>
    <div class="d-flex flex-row card-body">
        <%= render "likes/like", micropost: @micropost %>
        <%= render "bookmarks/bookmark", micropost: @micropost %>
    </div>
  </div>
</div>
