<% provide(:title, @micropost.restaurant) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <% if @micropost.image.url %>
    <%= image_tag @micropost.image.url %>
  <% end %>
</p>

<%= link_to 'Back', microposts_path %>
