.chef-info {
  position: relative;
  min-height: 350px;
  background-image: image-url("chef-info.jpg");
  background-size: cover;
}

.top-info {
  position: absolute;
  top: 15%;
  left: 30%;
}

.chef-info-text {
  color: white;
  font-weight: bold;
  font-size: 48px;
}

.info-size {
  font-size: 18px;
}

.fab-lg-chef {
  display: block;
  width: 76px;
  height: 76px;
  background: #4caf50;
  border-radius: 50%;
  transition: 0.3s;
  text-decoration: none;
  align-items: center;
  position: fixed;
  right: 110px;
  bottom: 74px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  border-color: transparent !important;
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }
}

.fab-md-chef {
  display: block;
  width: 56px;
  height: 56px;
  background: #4caf50;
  border-radius: 50%;
  transition: 0.3s;
  text-decoration: none;
  align-items: center;
  position: fixed;
  right: 70px;
  bottom: 54px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  border-color: transparent !important;
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }
}

.search-field {
  background-color: white;
  width: 620px;
  height: 68px;
}

.chef-img {
  width: 600px;
  height: 600px;
}
